:root {  
    --primary-text-color: #757575;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-hero-bg-color: #2f303a;
    --titel-link-color: #212121;
    --secondary-link-color: #757575;
    --accent-color: #2196f3;
    --logo-up-color: #000000;
    --logo-down-color: #ffffff;
    --address-color: #ffffff;
    --address-secondary-color: rgba(255, 255, 255, 0.6);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
    margin: 0;
    }
    
    ul{
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    body{
    color: var(--primary-text-color);
    background-color: var(--primery-bg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }
    
    .list {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .link {
    text-decoration: none;
    }
    
    .title {
    color: var(--titel-link-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    }
    
    .internals {
    display: none;
    }
    
    /*page header*/
    .container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    
    
    }
    
    
    /*Шапка сайту*/
    .header{
     border-bottom: 1px solid #ececec;
    }
     
    .header > .container{
        display: flex;
        justify-content: space-between;
    
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav > .list{
        display: flex;
        padding: 0px;
    }
    
    /*Логотип*/
    .logo { 
    margin-right: 93px;    
    
    color: var(--logo-up-color);
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    width: 145px;
    height: 31px;
    
    }
    
    .logo-web {
       color: var(--accent-color); 
    }
    
    .footer.logo.link {
        color: var(--logo-down-color);
    }
    
    
    /*Navigathion*/
    
    .nav > .list .link {
    display: block;  
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--titel-link-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    }
    
    .nav > .list > .item:not(:last-child){
        margin-right: 50px;
    }
    
    .contacts.list{
        display: flex;
        align-items: center;
    
    }
    
    .contacts > .item:not(:last-child){
    margin-right: 50px;
    margin-left: 0px;
    } 
    
    .nav > .list .link:hover,
    .nav > .list .link:focus {
    color: var(--accent-color);
    }
    
    .nav > .list .link.inline {
    color: var(--accent-color);
    }
    
    /*contacts*/
    
    .contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--secondary-link-color);    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
    
    .contacts .link:hover,
    .contacts .link:focus {
    color: var(--accent-color);
    }
    
    /*Hero*/
    
    .hero {
    padding-top:  200px;
    padding-bottom: 200px; 
    margin-left:  auto;
    margin-right: auto;
    max-width: 1600px;
    
    background-color: var(--footer-hero-bg-color);
    
    }
    
    .hero > .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    h1{
        width: 696px;
    }

    .hero-title {
    margin-top: 0;
    margin-bottom: 33px;
    
    color: var(--address-color);
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    
    
    }
    
    .button {
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    
    color:var(--primary-bg-color);
    background-color: var(--accent-color);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    
    
    }
    
    .button {
    cursor: pointer;
    }
    
    /*Наші переваги*/
    .h3 .title{
        margin-bottom: 10px;
    }
    
    .advantage{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    .advantage > .container > .list{
        display: flex;
    
    }
    
    .advantage .title {
        margin-top: 0;
        margin-bottom: 10px;
        
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        text-align: start;
    }
    
    .advantage .item:not(:last-child){
        margin-right: 30px;
    }
    
    .advantage .item{
        width: 270px;
    }
    
    /*Чим займаємося*/ 
    
    .activity {
        padding-bottom: 94px;
        
    }
    .activity .title {
        margin-top: 0;
        margin-bottom: 50px;
    }
    
    .activity  .list {
        display: flex;
        justify-content: center;
    }
    
    .activity .list > .item:not(:last-child) {
        margin-right: 30px;
    }
    
    .activity  .list > .item > img {
        display: block;
    }
    
    /*Команда*/
    
    .team {
    padding-top: 94px;
    padding-bottom: 94px;
    
    background-color: var(--secondary-bg-color);
    
    }
    
    .team h2{
        margin: 0;
        margin-bottom: 50px;
        
    }
    
    .team .list{
        display: flex;
    }
    
    .card:not(:last-child){
        margin-right: 30px;
    }
    
    .card {
    
    background-color:var(--primary-bg-color)
    }
    
    .name{
        padding: 30px 15px;
    }

    .name > .title {
    margin: 0;
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    }
    
    .name > .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    }
    
    .card > img {
        display: block;
    }
    
    /*Портфоліо*/
    .portfolio{
        padding-top: 94px;
        padding-bottom: 94px;
        
    }
    
    .portfolio > .container > .list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .portfolio .list:first-of-type{
        margin-bottom: 50px;
    }
    
    .portfolio .item:not(:last-child){
        margin-right: 8px;
    }
    
    /*Кнопки-галереї*/
    
    .button-galerry {
        padding: 6px 22px;
        border-radius: 4px;
        border: none;
    
        color: var(--titel-link-color);
        background-color: var(--secondary-bg-color);
        
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
     
    }
        .button-galerry:hover,
        .button-galerry:focus {
        color: var(--logo-down-color);
        background-color: var(--accent-color);
        cursor: pointer;
    }
    
    /*Галерея*/
    .galerry-card {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    }
    
    .galerry-card .title {
        margin: 0;
        margin-bottom: 4px;
    
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: start;
    }
    
    .galerry-card:not(:nth-child(3n+3)){
        margin-right: 30px;
    }
    
    .galerry-card:not(:nth-last-child(-n+3)){
        margin-bottom: 30px;
    }
    
    .galerry-card img{
        display: block;
    }
    
    .galerry-card > .link {
        color: var(--secondary-link-color);
    }
    
    .galerry-card p{
        display: inline-block;
        margin: 0;
    }
    
    .info{
        padding: 20px 24px;
        border-left: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }
    
    /*footer*/
    
    .footer {
    background-color: var(--footer-hero-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
    .footer > .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .footer .logo.link{
        margin: 0px 0px;
    }

    .address{
        margin-top: 20px; 
    }

    .list > .item{
        margin-top: 9px;
    }


    .address > .list {
      margin: 0;
      
    }
    
    .list .contact:hover,
    .list .contact:focus {
    color: var(--accent-color);
    
}
    
    .list .link.maps {
    font-style: normal;
    color: var(--address-color);
     }
        
     .link.contact {
    color: var(--address-secondary-color);
    font-style: normal;
    }
            
    .footer  .logo{
        color: var(--secondary-bg-color);
    }
    
    .address .link {
        display: inline-block;
        
    }
    